In [101]:
from pandas import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')
%matplotlib inline

## Multi index

In [102]:
#Testi dataframe
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = zip(*arrays)
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])
s = pd.DataFrame(np.random.randn(8,2),index=index,columns=['a','b'])

#s.index.set_levels([[u'cat', u'dog', u'foo', u'qux'], 
#                       [u'one', u'two']], inplace=True)
s

                     a         b
first second
bar   one     0.301236  0.604859
      two     0.353132  1.527721
baz   one     1.252210 -0.690700
      two    -3.107441  0.263365
foo   one    -0.033129 -0.538272
      two     0.725509 -1.203986
qux   one    -2.148146  1.316943
      two     0.011062  0.936021

In [103]:
s.dtypes

a    float64
b    float64
dtype: object

In [104]:
s.loc['bar']

               a         b
second
one     0.301236  0.604859
two     0.353132  1.527721

In [105]:
s.loc['foo', 'two']

a    0.725509
b   -1.203986
Name: (foo, two), dtype: float64

In [106]:
s.loc['bar':'foo']

                     a         b
first second
bar   one     0.301236  0.604859
      two     0.353132  1.527721
baz   one     1.252210 -0.690700
      two    -3.107441  0.263365
foo   one    -0.033129 -0.538272
      two     0.725509 -1.203986

## Multi index with datetime

In [107]:
#Testi dataframe
arrays = [['01-12-2015', '01-12-2015', '02-12-2015', '02-12-2015', '03-12-2015', '03-12-2015', '04-12-2015', '04-12-2015'],
          ['01:00', '02:00', '01:00', '02:00', '01:00', '02:00', '01:00', '02:00']]
tuples = zip(*arrays)
index = pd.MultiIndex.from_tuples(tuples, names=['Date','time'])
s = pd.DataFrame(np.random.randn(8,2),index=index,columns=['a','b'])

#s.index.set_levels([[u'cat', u'dog', u'foo', u'qux'], 
#                       [u'one', u'two']], inplace=True)
s

                         a         b
Date       time
01-12-2015 01:00  0.502769  0.910646
           02:00  0.660366 -1.802613
02-12-2015 01:00  1.210463  0.468561
           02:00 -0.314019 -2.847259
03-12-2015 01:00 -0.005705  0.869676
           02:00 -0.191068 -0.043022
04-12-2015 01:00  0.789163  0.732495
           02:00  0.362027 -0.778389

In [108]:
s.dtypes

a    float64
b    float64
dtype: object

In [109]:
s.loc['01-12-2015']

              a         b
time
01:00  0.502769  0.910646
02:00  0.660366 -1.802613

In [110]:
s.loc['01-12-2015', '01:00']

a    0.502769
b    0.910646
Name: (01-12-2015, 01:00), dtype: float64

In [111]:
s.loc['01-12-2015':'02-12-2015']

                         a         b
Date       time
01-12-2015 01:00  0.502769  0.910646
           02:00  0.660366 -1.802613
02-12-2015 01:00  1.210463  0.468561
           02:00 -0.314019 -2.847259

In [112]:
s.to_csv('../data/indeksointiTesti.cvs')

## Multi index with datetime and from cvs

In [113]:
df = read_csv('../data/indeksointiTesti.cvs', header=0)
idf = df.set_index(['Date','time'])
idf

                         a         b
Date       time
01-12-2015 01:00  0.502769  0.910646
           02:00  0.660366 -1.802613
02-12-2015 01:00  1.210463  0.468561
           02:00 -0.314019 -2.847259
03-12-2015 01:00 -0.005705  0.869676
           02:00 -0.191068 -0.043022
04-12-2015 01:00  0.789163  0.732495
           02:00  0.362027 -0.778389

In [114]:
idf.dtypes

a    float64
b    float64
dtype: object

In [115]:
idf.index.dtype

dtype('O')

In [116]:
idf.loc['01-12-2015']

              a         b
time
01:00  0.502769  0.910646
02:00  0.660366 -1.802613

In [117]:
idf.loc['01-12-2015', '01:00']

a    0.502769
b    0.910646
Name: (01-12-2015, 01:00), dtype: float64

In [118]:
idf.loc['01-12-2015':'01-12-2015']

                         a         b
Date       time
01-12-2015 01:00  0.502769  0.910646
           02:00  0.660366 -1.802613

In [119]:
idf['a']

Date        time
01-12-2015  01:00    0.502769
            02:00    0.660366
02-12-2015  01:00    1.210463
            02:00   -0.314019
03-12-2015  01:00   -0.005705
            02:00   -0.191068
04-12-2015  01:00    0.789163
            02:00    0.362027
Name: a, dtype: float64

In [120]:
idf.a

Date        time
01-12-2015  01:00    0.502769
            02:00    0.660366
02-12-2015  01:00    1.210463
            02:00   -0.314019
03-12-2015  01:00   -0.005705
            02:00   -0.191068
04-12-2015  01:00    0.789163
            02:00    0.362027
Name: a, dtype: float64

In [121]:
idf[['a','b']]

                         a         b
Date       time
01-12-2015 01:00  0.502769  0.910646
           02:00  0.660366 -1.802613
02-12-2015 01:00  1.210463  0.468561
           02:00 -0.314019 -2.847259
03-12-2015 01:00 -0.005705  0.869676
           02:00 -0.191068 -0.043022
04-12-2015 01:00  0.789163  0.732495
           02:00  0.362027 -0.778389

In [122]:
idf[:2]

                         a         b
Date       time
01-12-2015 01:00  0.502769  0.910646
           02:00  0.660366 -1.802613

In [123]:
idf[4:]

                         a         b
Date       time
03-12-2015 01:00 -0.005705  0.869676
           02:00 -0.191068 -0.043022
04-12-2015 01:00  0.789163  0.732495
           02:00  0.362027 -0.778389

In [124]:
sum(idf.a)

3.0139948516076407

## Index sorting

In [222]:
#df = read_csv('../data/indeksointiTesti.cvs', header=0)
df = read_csv('../data/AirQualityDataHourly.csv', header=4)
idf = df.set_index(['Date','time'])
idf = idf['PM10 particulate matter (Hourly measured)']
#idf = idf[['PM10 particulate matter (Hourly measured)','Nitric oxide']]

In [209]:
#idf = idf.sortlevel(level=0, sort_remaining=True)
idf = idf.sortlevel(0,axis=0)

In [210]:
idf.index.is_lexsorted()

True

In [211]:
idf.index.lexsort_depth

2

In [212]:
idf.loc['01-12-2015':'02-12-2015']

                  Nitric oxide  PM10 particulate matter (Hourly measured)
Date       time
01-12-2015 01:00       1.48512                                        4.0
           02:00       0.81449                                        4.2
           03:00       0.35922                                        2.5
           04:00       0.71845                                        3.3
           05:00       6.42983                                        7.0
           06:00       0.32305                                        3.5
           07:00       0.68259                                        7.0
           08:00       1.58033                                        4.7
           09:00       2.90964                                        7.3
           10:00       3.84387                                        8.0
           11:00       2.51456                                       13.5
           12:00       3.05339                                       15.7
           13:00       4.05934                                       14.2
           14:00       2.33495                                       17.7
           15:00       1.40103                                       20.9
           16:00       1.50861                                       20.1
           17:00       1.50892                                       19.3
           18:00       1.22142                                       16.9
           19:00       0.46743                                       16.0
           20:00       0.39508                                       14.7
           21:00       0.43125                                       19.4
           22:00       0.35922                                       11.9
           23:00       0.32305                                       16.2
           24:00       0.35891                                       11.0
02-01-2016 01:00       0.99784                                       13.0
           02:00       0.33261                                        8.2
           03:00       0.21828                                        9.4
           04:00       0.28064                                       15.0
           05:00       0.28064                                       16.2
           06:00       0.74838                                       16.9
...                        ...                                        ...
02-04-2016 19:00           NaN                                       27.8
           20:00           NaN                                       42.6
           21:00           NaN                                       47.8
           22:00           NaN                                       36.2
           23:00           NaN                                       38.6
           24:00           NaN                                       38.8
02-12-2015 01:00       0.19125                                        9.3
           02:00       0.23907                                       11.4
           03:00       0.07172                                       13.8
           04:00       0.14344                                       13.7
           05:00       0.17930                                        9.9
           06:00       0.32305                                       11.3
           07:00       0.50297                                       15.7
           08:00       1.61650                                       14.7
           09:00       2.90964                                       18.7
           10:00       3.84356                                       15.1
           11:00       5.60381                                       19.5
           12:00       3.05339                                       20.1
           13:00       3.52050                                       21.9
           14:00           NaN                                       25.0
           15:00       3.52050                                       25.7
           16:00       2.80206                                       25.4
           17:00       2.94581                                       25.8
           18:00       2.37112                                       23.6
           19:00       1.43689                                       23.2
           20:00       0.93392                                       21.8
           21:00       0.79017                                       23.0
           22:00       0.61087                                       23.8
           23:00       0.53915                                       23.5
           24:00       0.46743                                       22.9

[144 rows x 2 columns]

In [223]:
idf = idf.unstack()

In [224]:
idf.index.lexsort_depth

AttributeError: 'Index' object has no attribute 'lexsort_depth'

In [225]:
idf.loc['01-12-2015':'02-12-2015']

time,01:00,02:00,03:00,04:00,05:00,06:00,07:00,08:00,09:00,10:00,...,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00,24:00
Date,,,,,,,,,,,,,,,,,,,,,
01-12-2015,4.0,4.2,2.5,3.3,7.0,3.5,7.0,4.7,7.3,8.0,...,20.9,20.1,19.3,16.9,16.0,14.7,19.4,11.9,16.2,11.0
02-01-2016,13.0,8.2,9.4,15.0,16.2,16.9,18.2,15.0,16.9,13.1,...,8.0,14.1,7.9,8.2,9.1,9.0,8.7,8.2,11.3,11.1
02-02-2016,24.5,23.3,23.2,21.8,21.4,25.8,25.6,24.2,18.9,19.7,...,15.0,16.1,19.7,16.8,16.6,17.1,15.9,14.8,15.3,12.8
02-03-2016,17.2,12.1,7.5,8.1,10.5,14.2,13.8,13.8,17.3,11.8,...,4.1,11.3,8.4,14.7,16.5,12.2,7.9,8.0,6.8,10.6
02-04-2016,22.2,23.2,16.6,20.2,24.9,25.1,25.3,24.6,19.8,17.8,...,14.7,16.9,18.2,24.8,27.8,42.6,47.8,36.2,38.6,38.8
02-12-2015,9.3,11.4,13.8,13.7,9.9,11.3,15.7,14.7,18.7,15.1,...,25.7,25.4,25.8,23.6,23.2,21.8,23.0,23.8,23.5,22.9