In [1]:
from pandas import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('ggplot')
%matplotlib inline

## Multi index

In [2]:
#Testi dataframe
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = zip(*arrays)
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])
s = pd.DataFrame(np.random.randn(8,2),index=index,columns=['a','b'])

#s.index.set_levels([[u'cat', u'dog', u'foo', u'qux'], 
#                       [u'one', u'two']], inplace=True)
s

                     a         b
first second
bar   one    -0.873752 -1.557177
      two    -1.815243  0.094606
baz   one    -1.028162 -1.380382
      two     1.067999 -0.318355
foo   one     0.343215  1.285076
      two     0.130400  0.905692
qux   one     0.751137  1.197016
      two     0.444575  1.249465

In [3]:
s.dtypes

a    float64
b    float64
dtype: object

In [4]:
s.loc['bar']

               a         b
second
one    -0.873752 -1.557177
two    -1.815243  0.094606

In [5]:
s.loc['foo', 'two']

a    0.130400
b    0.905692
Name: (foo, two), dtype: float64

In [6]:
s.loc['bar':'foo']

                     a         b
first second
bar   one    -0.873752 -1.557177
      two    -1.815243  0.094606
baz   one    -1.028162 -1.380382
      two     1.067999 -0.318355
foo   one     0.343215  1.285076
      two     0.130400  0.905692

## Multi index with datetime

In [7]:
#Testi dataframe
arrays = [['01-12-2015', '01-12-2015', '02-12-2015', '02-12-2015', '03-12-2015', '03-12-2015', '04-12-2015', '04-12-2015'],
          ['01:00', '02:00', '01:00', '02:00', '01:00', '02:00', '01:00', '02:00']]
tuples = zip(*arrays)
index = pd.MultiIndex.from_tuples(tuples, names=['Date','time'])
s = pd.DataFrame(np.random.randn(8,2),index=index,columns=['a','b'])

#s.index.set_levels([[u'cat', u'dog', u'foo', u'qux'], 
#                       [u'one', u'two']], inplace=True)
s

                         a         b
Date       time
01-12-2015 01:00  2.523864 -1.888065
           02:00  1.206134  1.557476
02-12-2015 01:00  0.203768  0.274463
           02:00  1.152810 -0.007944
03-12-2015 01:00  0.386274 -0.099156
           02:00 -0.608334 -0.737396
04-12-2015 01:00 -1.350613  0.914886
           02:00  1.305901  1.602406

In [8]:
s.dtypes

a    float64
b    float64
dtype: object

In [9]:
s.loc['01-12-2015']

              a         b
time
01:00  2.523864 -1.888065
02:00  1.206134  1.557476

In [10]:
s.loc['01-12-2015', '01:00']

a    2.523864
b   -1.888065
Name: (01-12-2015, 01:00), dtype: float64

In [11]:
s.loc['01-12-2015':'02-12-2015']

                         a         b
Date       time
01-12-2015 01:00  2.523864 -1.888065
           02:00  1.206134  1.557476
02-12-2015 01:00  0.203768  0.274463
           02:00  1.152810 -0.007944

In [12]:
s.to_csv('../data/indeksointiTesti.cvs')

## Multi index with datetime and from cvs

In [13]:
df = read_csv('../data/indeksointiTesti.cvs', header=0)
idf = df.set_index(['Date','time'])
idf

                         a         b
Date       time
01-12-2015 01:00  2.523864 -1.888065
           02:00  1.206134  1.557476
02-12-2015 01:00  0.203768  0.274463
           02:00  1.152810 -0.007944
03-12-2015 01:00  0.386274 -0.099156
           02:00 -0.608334 -0.737396
04-12-2015 01:00 -1.350613  0.914886
           02:00  1.305901  1.602406

In [14]:
idf.dtypes

a    float64
b    float64
dtype: object

In [15]:
idf.index.dtype

dtype('O')

In [16]:
idf.loc['01-12-2015']

              a         b
time
01:00  2.523864 -1.888065
02:00  1.206134  1.557476

In [17]:
idf.loc['01-12-2015', '01:00']

a    2.523864
b   -1.888065
Name: (01-12-2015, 01:00), dtype: float64

In [18]:
idf.loc['01-12-2015':'02-12-2015']

                         a         b
Date       time
01-12-2015 01:00  2.523864 -1.888065
           02:00  1.206134  1.557476
02-12-2015 01:00  0.203768  0.274463
           02:00  1.152810 -0.007944

In [19]:
idf['a']

Date        time
01-12-2015  01:00    2.523864
            02:00    1.206134
02-12-2015  01:00    0.203768
            02:00    1.152810
03-12-2015  01:00    0.386274
            02:00   -0.608334
04-12-2015  01:00   -1.350613
            02:00    1.305901
Name: a, dtype: float64

In [20]:
idf.a

Date        time
01-12-2015  01:00    2.523864
            02:00    1.206134
02-12-2015  01:00    0.203768
            02:00    1.152810
03-12-2015  01:00    0.386274
            02:00   -0.608334
04-12-2015  01:00   -1.350613
            02:00    1.305901
Name: a, dtype: float64

In [21]:
idf[['a','b']]

                         a         b
Date       time
01-12-2015 01:00  2.523864 -1.888065
           02:00  1.206134  1.557476
02-12-2015 01:00  0.203768  0.274463
           02:00  1.152810 -0.007944
03-12-2015 01:00  0.386274 -0.099156
           02:00 -0.608334 -0.737396
04-12-2015 01:00 -1.350613  0.914886
           02:00  1.305901  1.602406

In [22]:
#idf = idf.sortlevel(level=0, sort_remaining=True)
idf.index.levels[0]

Index([u'01-12-2015', u'02-12-2015', u'03-12-2015', u'04-12-2015'], dtype='object', name=u'Date')

In [23]:
idf[:2]

                         a         b
Date       time
01-12-2015 01:00  2.523864 -1.888065
           02:00  1.206134  1.557476

In [24]:
idf[4:]

                         a         b
Date       time
03-12-2015 01:00  0.386274 -0.099156
           02:00 -0.608334 -0.737396
04-12-2015 01:00 -1.350613  0.914886
           02:00  1.305901  1.602406

In [ ]:
sum(idf.a)

4.8198044452269997

## MultiIndex slicing

In [ ]:
#df = read_csv('../data/AQtunti2.csv', header=4)
df = read_csv('../data/AirQualityDataHourly.csv', header=4)
df['Date'] =  pd.to_datetime(df['Date'], format='%d-%m-%Y')
idf = df.set_index(['Date','time'])
#idf = idf['PM10 particulate matter (Hourly measured)']
#idf = idf[['PM10 particulate matter (Hourly measured)','Nitric oxide']]
idf.head(1)

,,PM10 particulate matter (Hourly measured),status/unit,Modelled Wind Direction,status/unit.1,Modelled Wind Speed,status/unit.2,Modelled Temperature,status/unit.3,Nitric oxide,status/unit.4,Nitrogen dioxide,status/unit.5,Ozone,status/unit.6,PM2.5 particulate matter (Hourly measured),status/unit.7,Sulphur dioxide,status/unit.8
Date,time,,,,,,,,,,,,,,,,,,
2015-12-01,01:00,4.0,V ugm-3 (TEOM FDMS),No data,NaN,No data,NaN,No data,NaN,1.48512,V ugm-3,27.98243,V ugm-3,33.86038,V ugm-3,6.100,V ugm-3 (TEOM FDMS),1.13266,V ugm-3

In [ ]:
#pd.to_datetime(idf.index.levels[0], format='%d-%m-%Y')
#idf.index.levels[0]
#idf.sort_index(inplace=True)
idf.index.levels[0]
#idf

DatetimeIndex(['2015-12-01', '2015-12-02', '2015-12-03', '2015-12-04',
               '2015-12-05', '2015-12-06', '2015-12-07', '2015-12-08',
               '2015-12-09', '2015-12-10',
               ...
               '2016-04-04', '2016-04-05', '2016-04-06', '2016-04-07',
               '2016-04-08', '2016-04-09', '2016-04-10', '2016-04-11',
               '2016-04-12', '2016-04-13'],
              dtype='datetime64[ns]', name=u'Date', length=135, freq=None)

In [ ]:
#idf = idf.dropna()
idf = idf.sortlevel(level=0, sort_remaining=True)

In [ ]:
idf.index.is_lexsorted()

True

In [ ]:
idf.index.lexsort_depth

2

In [ ]:
idf.loc['2015-12-01':'2016-02-29']

In [ ]:
idf.loc['2016-03-01':'2016-03-31']